<div class="post-page">
  <img [src]="post?.image" alt="">
  <div class="post-page--wrapper">
    <h1>{{ post?.title }}</h1>
    <p class="post-page--wrapper__text">{{ post?.description }}</p>
    <div class="post-page--wrapper__info">
      <p>Автор: {{ post?.author?.name }} {{ post?.author?.lastName }}</p>
      <p>Дата создания: {{ post?.date | date }}</p>
    </div>
    <div class="post-page--wrapper__comments">
      <p 
        *ngIf="!post?.comments?.length else comments"
        class="post-page--wrapper__comments--empty"
      >
        Комментариев нет
      </p>
      <ng-template #comments>
        <div 
          *ngFor="let comment of post?.comments;"
          class="post-page--wrapper__comments--comment"
        >
          <lucide-angular 
            name="x" 
            class="post-page--wrapper__comments--comment__delete"
            (click)="onCommentDelete(comment.key)"
          />
          <p class="post-page--wrapper__comments--comment__text">{{ comment.text }}</p>
          <p class="post-page--wrapper__comments--comment__info">
            Автор: {{ comment.author.name }} {{ comment.author.lastName }} | Дата создания: {{ comment.date | date }}
          </p>
        </div>
      </ng-template>
      <label for="comment">Добавить комментарий</label>
      <div class="post-page--wrapper__comments--new">
        <div>
          <input
            type="text" 
            id="comment" 
            [formControl]="comment"
          />
        </div>
        <select [formControl]="author">
          <option 
            *ngFor="let author of authorStore.authors" 
            [ngValue]="author"
          >
            {{ author.name }} {{ author.lastName }}
          </option>
        </select>
        <button 
          type="submit"
          class="btn"
          [disabled]="!comment.valid || !author.valid"
          (click)="onAddComment()"
        >
          Добавить
        </button>
      </div>
    </div>
  </div>
</div>