/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 8px 16px;
  background-color: teal;
  color: white;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 4px;

  &:disabled {
    background-color: lighten(teal, 10%);
    pointer-events: none;
  }
  
  &.header-btn {
    font-size: 1.25em;
  }

  &:hover {
    background-color: lighten(teal, 5%);
  }
}

h3, h1 {
  color: teal;
}